.todos-lists{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

div h1 {
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}